<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">


    <link rel="stylesheet" href="../static/mystyle.css">
    <link rel="stylesheet" href="../static/docker.css">
    <title>Chatter On - Build & Deploy Your Bots in 5 Minutes </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://leena.ai" target="_blank">ChatterOn</a>
            <a href="https://www.chatteron.io/" target="_blank"><img src="../static/logo2.png" alt="" width=150px></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  mb-2 mb-lg-0 ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#introSection2">About</a>
                    </li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          More
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item " href="https://github.com/gitme786/chatapplication" target="_blank ">Source Code</a></li>
                            <li><a class="dropdown-item " href="/docker" target="_blank ">Docker Image</a></li>
                            <li>

                                <hr class="dropdown-divider" style="color:#006AFF">
                            </li>
                            <li><a class="dropdown-item " href="https://www.chatteron.io/" target="_blank">Visit : Leena Ai</a></li>
                            <li><a class="dropdown-item " href="https://www.chatteron.io/" target="_blank">Visit : ChatterOn</a></li>
                            <li>
                                <hr class="dropdown-divider" style="color:#006AFF">
                            </li>
                            <li><a class="dropdown-item " href="test">Older Version v2.0</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>



    <div id="introSection1" class="container-fluid row">
        <div class="cardintro ml-2">


            <div class="row">

                <div class=" col-md-12 ">

                    <div class="card text-center m-3">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body text_class">
                            <h4 class="card-title ">Docker Image Details</h4>
                            <p class="card-text">Docker Username : himanshuleena</p>
                            <a href="https://hub.docker.com/repository/docker/himanshuleena/chatteron" target="_blank" class="btn btn-primary">Visit
                                DockerHub</a>
                        </div>
                    </div>

                </div>

                <!-- <div class=" col-md-6 ">


                    <div class="card text-center m-3">
                        <div class="card-body text_class">
                            <h4 class="card-title">Chat Now</h4>
                            <p class="card-text">Go Chat Your Friends Now</p>
                            <a href="#" class="btn btn-primary">Chat Now</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div id="introSection2" class="container-fluid row introSection2">
        <div class="cardintro ml-2">


            <div class="row">

                <div class=" col-md-12 ">


                    <div class="card  m-3">
                        <!-- <img src="..." class="card-img-top" alt="..."> -->
                        <div class="card-body text_class">
                            <h4 class="card-title ">Use These Commands On Your Machine</h4>
                            <p class="card-text">[These Command Is For Amazon Linux]</p>
                            <p class="card-text code_style" style="color: #006AFF;"># yum update </p>
                            <p class="card-text code_style" style="color: #006AFF;"># yum install docker -y</p>
                            <p class="card-text code_style" style="color: #006AFF;"># service docker start</p>
                            <p class="card-text code_style" style="color: #006AFF;"># docker images</p>
                            <p class="card-text code_style" style="color: #006AFF;"># docker pull himanshuleena/chatteron</p>
                            <p class="card-text code_style" style="color: #006AFF;"># docker images</p>
                            <p class="card-text code_style" style="color: #006AFF;"># docker run --publish 3000:3000 himanshuleena/chatteron</p>


                        </div>
                    </div>
                </div>

                <!-- <div class=" col-md-6 ">


                    <div class="card text-center m-3">
                        <div class="card-body text_class">
                            <h4 class="card-title">Chat Now</h4>
                            <p class="card-text">Go Chat Your Friends Now</p>
                            <a href="#" class="btn btn-primary">Chat Now</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>




    <footer class=" text-center">
        <div class="m-0">


            <p class="footerspan">
                Design & Developed by <span id="linkleena"><a href="https://www.chatteron.io/"
                target="_blank"> ChatterOn</a></span></p>

        </div>
        <div class="m-0">

            <!-- <br> -->
            <p class="footerspan">Powered By <span id="linkleena"> <a href="https://leena.ai/"
                target="_blank">Leena AI</a></span></p>
        </div>
    </footer>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
</body>

</html>