<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <nav id="navbar">
        <ul>
            <li>
                <a href="#">Home</a></li>
            <li>
                <a href="#">About</a></li>
            <li>
                <a href="#">Contact</a></li>
            <li>
                <a href="#">Chat with Us</a></li>

        </ul>
    </nav>
    <section id="introSection">
        <div>
            Welcome To <span class="blue_text"><a href="https://www.chatteron.io/" target="_blank">ChatterOn.io</a></span>
        </div>
        <div class="small">
            Powered By <span class="blue_text"><a href="https://leena.ai/" target="_blank">Leena Ai</a></span>
        </div>
        <div class="extrasmall">
            Build Chat bots in under 5 minutes!
        </div>
        <div>
            <span class="btn_homepage"><a href="https://leena.ai/" target="_blank">Get Started</a></span>
            <span class="btn_homepage"><a href="https://github.com/gitme786/chatapplication" target="_blank">Source Code</a></span>
        </div>
    </section>


    <section id="sponsorsSection">
        <div class="heading">
            OUR SPONSORS
        </div>



        <div class="card">
            <div>
                <h3>Seed Sponsor</h3>
                <hr>
            </div>
            <div>

                <p class="sponsors">North Base Media</p>
            </div>



        </div>
        <div class="card">
            <div>
                <h3>Early Age Sponsors</h3>
                <hr>
            </div>
            <div>


                <p class="sponsors">Y Combinator</p>
                <p class="sponsors">Funders CLub</p>
            </div>

        </div>
        <div class="card">
            <div>
                <h3>Trio Sponsors</h3>
                <hr>
            </div>

            <div>

                <p class="sponsors">Elad Gil</p>
                <p class="sponsors">Kunal Bahl</p>
                <p class="sponsors">Rohit Bansal</p>
            </div>
        </div>
        <div class="card">
            <div>
                <h3>Recent Sponsors</h3>
                <hr>
            </div>
            <div>

                <p class="sponsors">Greycroft Gaingels</p>
                <p class="sponsors"> Adam Miller</p>
                <p class="sponsors">Alan Patricof</p>
                <p class="sponsors">Jim Moffatt</p>
            </div>
        </div>
    </section>

    <br><br><br><br><br><br><br>
    <!-- <section id="contactSection">
        <div>
            Welcome To LeenaAi ChatBot
        </div>
        <div class="small">
            Welcome To LeenaAi ChatBot
        </div>
    </section> -->


    <footer>
        <hr> © Copyright Leena Ai, 2021
    </footer>


</body>

</html>