                                                                    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
                                                                    * {
                                                                        font-family: 'Ubuntu', sans-serif;
                                                                        font-weight: bold;
                                                                    }
                                                                    
                                                                    .navbar-nav {
                                                                        margin-left: auto;
                                                                        margin-right: 10vw;
                                                                    }
                                                                    
                                                                    .dropdown-item {
                                                                        font-weight: bolder;
                                                                        color: #006AFF;
                                                                    }
                                                                    
                                                                    .btn {
                                                                        margin-top: 30px;
                                                                        padding: 10px 20px;
                                                                        border-radius: 30px;
                                                                    }
                                                                    
                                                                    .btn:hover {
                                                                        margin-top: 30px;
                                                                        padding: 10px 20px;
                                                                        border-radius: 30px;
                                                                        color: #006AFF;
                                                                        background-color: white;
                                                                    }
                                                                    
                                                                    #introSection1 {
                                                                        margin: 0px;
                                                                        padding-top: 60px;
                                                                        padding-bottom: 10vh;
                                                                        background-color: #006AFF;
                                                                        border-bottom-right-radius: 85px;
                                                                    }
                                                                    
                                                                    #introSection1 h5 {
                                                                        font-size: 4rem;
                                                                        font-weight: bolder;
                                                                        padding-top: 10px;
                                                                        padding-left: 30px;
                                                                        color: aliceblue;
                                                                    }
                                                                    
                                                                    #introSection1 p {
                                                                        padding-left: 30px;
                                                                        padding-top: 10px;
                                                                        color: aliceblue;
                                                                    }
                                                                    
                                                                    #introSection1 .btn {
                                                                        margin-left: 30px;
                                                                        padding-top: 10px;
                                                                        font-weight: bold;
                                                                        border-color: white;
                                                                        color: white;
                                                                    }
                                                                    
                                                                    #introSection1 .btn:hover {
                                                                        background-color: white;
                                                                        color: #006AFF;
                                                                        border-color: #006AFF;
                                                                    }
                                                                    /* CSS FOR INTRO SECTION 2 */
                                                                    
                                                                    #introSection2 {
                                                                        padding-top: 10px;
                                                                        padding-left: 30px;
                                                                    }
                                                                    
                                                                    #introSection2 h5 {
                                                                        font-size: 2.5rem;
                                                                        font-weight: bolder;
                                                                        padding-top: 10px;
                                                                        padding-left: 30px;
                                                                        color: #006AFF;
                                                                        /* font-style: oblique; */
                                                                    }
                                                                    
                                                                    #introSection2 p {
                                                                        font-style: italic;
                                                                        padding-left: 30px;
                                                                        font-size: large;
                                                                        padding-top: 10px;
                                                                        color: alic #006AFF;
                                                                    }
                                                                    
                                                                    #introSection2 .btn {
                                                                        margin-left: 30px;
                                                                        margin-top: 10px;
                                                                        /* color: alic #006AFF;
    }
    */
                                                                    }
                                                                    /* -----------------------SOME MORE CSS */
                                                                    
                                                                    .text_class {
                                                                        color: #006AFF
                                                                    }
                                                                    /* SOME MEDIA QUERIES */
                                                                    
                                                                    .text_class h5 {
                                                                        font-weight: 900;
                                                                        color: #006AFF
                                                                    }
                                                                    
                                                                    .card {
                                                                        border-color: #006AFF;
                                                                    }
                                                                    /* SOME MEDIA QUERIES */
                                                                    
                                                                    footer {
                                                                        padding: 5px;
                                                                        padding-bottom: 1px;
                                                                        /* margin-bottom: 0px; */
                                                                        border-top-left-radius: 45px;
                                                                        border-top-right-radius: 45px;
                                                                        background-color: #006AFF;
                                                                        color: white;
                                                                        font-size: 10px;
                                                                        font-weight: normal;
                                                                    }
                                                                    
                                                                    #linkleena {
                                                                        font-weight: normal;
                                                                        color: white;
                                                                        border: 1px solid white;
                                                                        border-radius: 12px;
                                                                        padding: 4px;
                                                                    }
                                                                    
                                                                    #linkleena:hover {
                                                                        background-color: white;
                                                                        color: #006AFF;
                                                                    }
                                                                    
                                                                    #linkleena a {
                                                                        font-weight: normal;
                                                                        text-decoration: none;
                                                                        color: white;
                                                                    }
                                                                    
                                                                    #linkleena a:hover {
                                                                        text-decoration: none;
                                                                        color: #006AFF;
                                                                    }
                                                                    
                                                                    .footerspan {
                                                                        padding: 2px;
                                                                        font-weight: normal;
                                                                    }
                                                                    
                                                                    @media only screen and (max-width: 600px) {
                                                                        #introSection2 {
                                                                            text-align: center;
                                                                        }
                                                                        #introSection1 h5 {
                                                                            font-size: 40px;
                                                                        }
                                                                        footer {
                                                                            padding-top: 7px;
                                                                            background-color: #006AFF;
                                                                            padding-bottom: 1px;
                                                                            margin-bottom: 0px;
                                                                            border-top-left-radius: 15px;
                                                                            border-top-right-radius: 15px;
                                                                        }
                                                                        .footerspan {
                                                                            padding-bottom: 0px;
                                                                            font-weight: normal;
                                                                        }
                                                                    }